<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
<div th:insert="components/header :: header"></div>

<div class="flex justify-center m-5">

    <form th:action="@{/edit}" method="post" class="my-10 font-[sans-serif] text-[#333] max-w-md mx-auto">
        <h1 class="text-2xl font-bold text-center my-5">Edit product</h1>
        <label>
            <p class="p-2">Enter name</p>
            <input th:value="${product.name()}" type="text" placeholder="Name" name="name"
                   class="px-4 py-3 bg-[#f0f1f2] focus:bg-transparent w-full text-sm border outline-[#007bff] rounded transition-all"/>
        </label>
        <label class="my-5">
            <p class="p-2">Enter description</p>
            <textarea
                    th:value="${product.description()}"
                    name="description"
                    class="p-3 bg-[#f0f1f2] focus:bg-transparent w-full text-sm border outline-[#007bff] rounded transition-all">
        </textarea>
        </label>
        <label class="my-5">
            <p class="p-2">Enter price</p>
            <input th:value="${product.price()}" type="number" name="price" placeholder="Enter price"/>
        </label>
        <label class="relative font-[sans-serif] w-max">
            <p class="p-2">Choose a category</p>
            <select name="categoryId" id="pet-select"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option selected th:value="${product.category().name()}">Please choose a category</option>
                <div th:each="category : ${categories}">
                    <option th:text="${category.name()}">1</option>
                </div>
            </select>
        </label>
        <button type="submit"
                class="px-6 py-2.5 w-full !mt-8 text-sm bg-[#007bff] hover:bg-blue-600 text-white rounded active:bg-[#006bff]">
            Save
        </button>
        <div th:if="${errors}">
            <h2>Errors</h2>
            <ul>
                <li th:each="error: ${errors}" th:text="${error}"></li>
            </ul>
        </div>
    </form>
</div>
</body>
</html>